<form name="appleForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" ng-model="email" class="form-control" required id="email" placeholder="[Required]" name="email" value="{{email}}" />
    <span class="error" ng-show="appleForm.email.$error.email">Not valid email!</span>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input ng-model="password" type="password" class="form-control" required id="password1" placeholder="[Required]" value="" />
  </div>
  <div class="form-group">
          <label for="password2">Verify Password</label>
          <input type="password" ng-model="password2" class="form-control" ng-match="emailReg" required id="password2" placeholder="[Required]" value="" />
          <span class="error" ng-if="vm.isMatch()">Not match passwords!</span> 
  </div>   
</form>
<footer>
    <a ui-sref="form.login"   class="btn btn-secondary cancel">Cancel</a>
    <button ng-click="vm.next()" ng-disabled="vm.check_login()"  class="btn btn-primary next">Next</button>
</footer>