<form name="appleForm">
    <h4>Choose the User Group</h4>
    <div class="form-group">
      <label for="group">User Group</label> User Group to add the users to
      <select required class="form-control" id="group" name="group"  ng-model="group_value" ng-options="item.name for item in group" >
          <option value="">Choose group</option>
      </select>
      <span class="error" ng-show="appleForm.group.$error.required">Required!</span>
    </div>    
</form>
  <footer>
      <a ui-sref="form.login"  class="btn btn-secondary cancel">Cancel</a>
      <button ng-disabled="vm.check_group()" ng-click="vm.next()" class="btn btn-primary next">Next</button>
  </footer>